<div class="container">
  <div class="row">
    <div class="col-md-6 products">
      <table class="table table-borderless product-list">
        <thead class="thead">
          <th>ID</th>
          <th>Title</th>
          <th>First Name</th>
          <th>Surname</th>
          <th>Beneficiary</th>
          <th>Remove</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <tr *ngFor="let member of service.list">
             <td>{{member.memberId}}</td>
             <td>{{member.title}}</td>
             <td>{{member.firstName}}</td>
             <td>{{member.surname}}</td>
             <td>
              <button mat-raised-button class="col-md-2" (click)="onViewBeneficiary(member.memberId)" color="accent">VIEW BENEFICIARY</button>
             </td>
             <td>
                  <button class="fa fa-trash button1" (click)="onDelete(member.memberId)" ></button>
             </td>
             <td>
                <button class="fa fa-edit button2" (click)="onEdit(member)"></button>
           </td>
          </tr>
        </tbody>
      </table>
    </div>

</div>
